* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("../../assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
}


/* =================================================== */

.signup-page {
  /* border: 1px solid black; */
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

button {
  margin-inline: 10px;
  border: none;
  padding: 10px;
  font-weight: 700;
}

p {
  font-size: 10px;
}